

{% if form.errors %}
    <div class="errorlist">Please correct the errors below</div>
{% endif %}

   <form class="dirty-check" action="" method="post">
       {% csrf_token %}

   <div class="disclaimer-form">
       <div class="col-xs-12">
           <h4>Personal details</h4>
           <div><label>Name:</label> <span>{{ request.user.first_name }} {{ request.user.last_name }}</span></div>
           <div><label>Address:</label> <span>{{ request.user.profile.address }} {{ request.user.profile.postcode }}</span></div>
           <div><label>Phone:</label> <span>{{ request.user.profile.phone }}</span></div>

       </div>

       <div class="col-xs-12">
       <h4>Emergency Contact Information</h4>
       </div>

       <div class="form-group">
           <label class="control-label col-xs-3" for="emergency_contact_name_id">{{ form.emergency_contact_name.label }}{% if form.emergency_contact_name.field.required %}*{% endif %}</label>
           <div class="col-xs-9 {% if form.emergency_contact_name.errors %}error-info{% endif %}">{{ form.emergency_contact_name }}</div>
           <div class="helptext col-xs-10 col-xs-offset-2">{{ form.emergency_contact_name.help_text }}</div>
            {% if form.emergency_contact_name.errors %}
                <div class="col-xs-9 col-xs-offset-3">
                    {{ form.emergency_contact_name.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-3" for="emergency_contact_relationship_id">{{ form.emergency_contact_relationship.label }}{% if form.emergency_contact_relationship.field.required %}*{% endif %}</label>
           <div class="col-xs-9 {% if form.emergency_contact_relationship.errors %}error-info{% endif %}">{{ form.emergency_contact_relationship }}</div>
           <div class="helptext col-xs-9 col-xs-offset-3">{{ form.emergency_contact_relationship.help_text }}</div>
            {% if form.emergency_contact_relationship.errors %}
                <div class="col-xs-9 col-xs-offset-3">
                    {{ form.emergency_contact_relationship.errors }}
                </div>
            {% endif %}
       </div>
       <div class="form-group">
           <label class="control-label col-xs-3" for="emergency_contact_phone_id">{{ form.emergency_contact_phone.label }}{% if form.emergency_contact_phone.field.required %}*{% endif %}</label>
           <div class="col-xs-9 {% if form.emergency_contact_phone.errors %}error-info{% endif %}">{{ form.emergency_contact_phone }}</div>
           <div class="helptext col-xs-9 col-xs-offset-3">{{ form.emergency_contact1_phone.help_text }}</div>
            {% if form.emergency_contact_phone.errors %}
                <div class="col-xs-9 col-xs-offset-3">
                    {{ form.emergency_contact_phone.errors }}
                </div>
            {% endif %}
       </div>
       <div class="col-xs-12 vspace">
       <h4>WAIVER</h4>
       {{ form.waiver_terms|linebreaks }}</div>
       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.terms_accepted.errors %}error-info{% endif %}">
               {{ form.terms_accepted }}<label for='id_terms_accepted'></label>
                 <label class="control-label" for='id_terms_accepted'>{{ form.terms_accepted.label }}{% if form.terms_accepted.field.required %}*{% endif %}</label>
                {% if form.terms_accepted.errors %} {{ form.terms_accepted.errors }}{% endif %}
           </div>

           <div class="helptext col-xs-9 col-xs-offset-3">{{ form.terms_accepted.help_text }}</div>
       </div>

       <div class="form-group">
           <div class="col-xs-12 vspace {% if form.password.errors %}error-info{% endif %}">
                <label class="control-label" for='password_id'>{{ form.password.label|safe }}{% if form.password.field.required %}*{% endif %}</label>
                <div class="col-xs-12 {% if form.password.errors %}error-info{% endif %}">
                    {{ form.password }} {% if form.password.errors %}{{ form.password.errors }}{% endif %}
                </div>
           </div>
           <div class="helptext col-xs-9 col-xs-offset-3">{{ form.password.help_text }}</div>
       </div>

        <div class="col-xs-12 vspace"><input class="btn btn-purple" type="submit" value="Submit" /></div>
   </div>
   </form>

