{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Change Password" %}</h1>
            </div>
           <div class="panel-body">

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                      {{ form.non_field_errors }}
    <div class="row">
        {% for field in form %}
            <div class="form-group">
               <label class="control-label col-xs-3" for="name_id">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
               <div class="col-xs-9 {% if form.field.errors %}error-info{% endif %}">{{ field }}</div>
               <div class="helptext col-xs-9 col-xs-offset-3">{{ field.help_text }}</div>
                {% if field.errors %}
                    <div class="col-xs-9 col-xs-offset-3">
                        {{ field.errors }}
                    </div>
                {% endif %}
           </div>
        {% endfor %}
    </div>
                    <button class="btn btn-purple" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
           </div>
       </div>
    </div>
</div>
{% endblock %}
