{% extends 'account/base.html' %}
{% load static %}

{% block content %}

<div class="small-margin extra-top-margin container-fluid row">
    <div class="col-sm-11">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Edit Your Account Profile</h1>
            </div>
           <div class="panel-body">
                <form action="" method="post">{% csrf_token %}
                    {% csrf_token %}
                      {{ form.non_field_errors }}
                        <div class="row">
                            {% for field in form %}
                            {% if field.name == 'confirmation_key' %}
                                <span class="hide">{{ field }}</span>
                            {% else %}
                                <div class="form-group">
                                   <label class="control-label col-xs-2" for="name_id">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                   <div class="col-xs-9 {% if form.field.errors %}error-info{% endif %}">{{ field }}</div>
                                   <div class="studioadmin-help col-xs-9 col-xs-offset-2">{{ field.help_text }}</div>
                                    {% if field.errors %}
                                        <div class="col-xs-9 col-xs-offset-2">
                                            {{ field.errors }}
                                        </div>
                                    {% endif %}
                               </div>
                            {% endif %}
                            {% endfor %}
                        </div>

                    <input class="btn btn-purple" type="submit" value="Update" />
                    <a href="{% url 'accounts:profile' %}"><div class="btn btn-warning">Cancel</div></a>
                </form>
                </br>

               <div>
                     <label>Mailing list</label>
                    <p class="active-nav-login"><a href="{% url 'accounts:subscribe' %}">Subscribe/unsubscribe</a> to mailing list</p>
                 </div>

                </br>
            </div>
        </div>
    </div>
</div>


{% endblock content %}