Django==3.0.7
coverage
dj-database-url==0.5.0
django-allauth==0.40.0
django-classy-tags==1.0.0  # for cookie-law
django-cookie-law==2.0.3
django-environ==0.4.5
django-extensions==2.2.8
django-paypal==1.0.0
psycopg2==2.8.4
model-bakery==1.0.1
gunicorn==19.7.1
pycrypto==2.6.1
simple-crypt==4.1.7
django-braces==1.14.0
python-dateutil==2.8.0
python-memcached==1.59
django-debug-toolbar==2.0
django-crispy-forms==1.8.1
django-apptemplates==1.4
shortuuid==0.5.0
xlrd==1.2.0
xlwt==1.3.0
