Django==1.10
coverage==3.7.1
dj-database-url==0.3.0
django-allauth==0.27.0
django-environ==0.3.0
django-extensions==1.7.3
django-paypal==0.3.6
psycopg2==2.7.1
model-mommy==1.2.6
mock==1.0.1
gunicorn==19.3.0
pycrypto==2.6.1
simple-crypt==4.1.7
django-braces==1.9.0
python-dateutil==2.5.3
python-memcached==1.58
django-debug-toolbar==1.5
django-crispy-forms==1.6.0
django-apptemplates==1.2
shortuuid==0.4.3
xlrd==1.0.0
xlwt==1.2.0