{% extends 'email_base.html' %}

{% load static %}
{% block messagecontent %}
<h2>Pole Performance {{ entry.entry_year }} Semi Finals Entry</h2>

    <p>Thank you for your entry to Pole Performance {{ entry.entry_year }} for the following category:</p>
    <p><strong>{{ category }}</strong></p>

    <p>You can check/update your information and check the status of your
        entry on the website.  Please note that your entry is not considered complete
        until payment for the video entry fee has been received.<br>
        <a href="{{ host }}{% url 'entries:user_entries' %}">{{ host }}{% url 'entries:user_entries' %}</a>
    </p>

{% endblock %}