{% load static %}
{% load cookielaw_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pole Performance Competition">

    <meta property="og:title" content="Pole Performance Competition"/>
    <meta property="og:image" content="https://poleperformancecomp.co.uk/static/web/images/pplogo_ogimg.png"/>
    <meta property="og:site_name" content="Pole Performance Competition"/>
    <meta property="og:url" content="https://poleperformancecomp.co.uk"/>
    <meta property="og:description" content="Pole Performance is a pole dance
    competition based in Scotland, hosted by Carousel Fitness"/>

  <link rel="shortcut icon" href="{% static 'web/images/favicon.ico' %}" type="image/vnd.microsoft.icon">
  <link rel="icon" type="image/png" href="{% static 'web/images/pplogo.png' %}">

    <title>Pole Performance Competition</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'web/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'web/css/main-v1.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/css/icomoon.css' %}">
   <link href="{% static 'web/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'web/css/animate-custom.css' %}" rel="stylesheet">
    {% block extra_styles %}{% endblock %}

    
<!---->
    <link href="{% static 'web/fonts/googlefontLato.css' %}" rel='stylesheet' type='text/css'>

  </head>

{% block bodytag %}<body data-spy="scroll" data-offset="0" data-target="#navbar-main">{% endblock %}


  <div id="container">

  <div id="header"></div>

  <div id="body">
  
  	<div id="navbar-main">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
              <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                        <span>{% block navbrand %}<img src="{% static 'web/images/pplogo_black.png' %}" height="50px" style="margin-top: -15px;">{% endblock %}</span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        {% block nav_content %}{% endblock nav_content %}
                    </div> <!--/.nav-collapse -->
              </div>
        </div>
    </div>

{% cookielaw_banner %}
{% block messages %}{% endblock messages %}
{% block extra_base_content %}{% endblock %}
 {% block content %}{% endblock %}

  </div>   <!--#body -->

  {% block footer_content %}
		<div id="footerwrap">
			<div class="container">
				<h6>Site developed by Becky Smith; design based on http://blacktie.co/shield/
                    <a class="pull-right footerlink" href="{% url 'cookie_policy' %}">Cookie Policy</a></h6>
            </div>
		</div>
  {% endblock %}

 </div>   <!--#container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'web/js/jquery-2.2.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'web/js/modernizr.custom.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'web/js/html5shiv.js' %}"></script>
      <script src="{% static 'web/js/respond.min.js' %}"></script>
    <![endif]-->

	<script type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'web/js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'web/js/jquery-func.js' %}"></script>
  <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% block extra_admin_js %}{% endblock %}
  </body>
</html>
