{% extends 'ppadmin/base.html' %}
{% load static %}

{% block content %}

{{ form.media }}

<div class="extra-top-margin container-fluid row">
    <div class="col-sm-12">
       <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Email {% if mailing_list %}Mailing List{% else %}Users{%  endif %}</h2>
            </div>
           {% if users_to_email %}
                <div class="panel-body">
                        <div>
                            {% if mailing_list %}
                                All users subscribed to the <a href="{% url 'ppadmin:mailing_list' %}">mailing list</a> will be emailed.
                            {% else %}
                                The following students will be emailed:
                                <ul>
                                {% for user in users_to_email %}
                                    <li>{{ user.fullname }}
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                          <span class="divider"></span>
                    <div class="panel-body">

                    <form class="dirty-check" class="form-horizontal" method="post" action="">
                        {% csrf_token %}

                        <div class="form-group-sm">

                            {% for field in form %}
                                {% if field.label == 'cc. from address'%}
                                <div class="form-group cbox">
                                    <div class="col-sm-12">
                                        <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        <div class="col-sm-9">{{ field }}<label for='cc_id'></label></div>
                                        <div class="ppadmincbox-help col-sm-offset-3 col-sm-9">{{ field.help_text }}</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label class="control-label col-sm-3">{% if field.field.required %}*{% endif %}{{ field.label }}</label>
                                        <div class="col-sm-9">{{ field }}</div>
                                        <div class="ppadmincbox-help col-sm-offset-3 col-sm-9">{{ field.help_text }}</div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="hidden" name="users_to_email" value="{{ users_to_email }}">
                                    <input type="submit" name="send_email" class="btn btn-purple" value="Send Email"/>
                                    <input type="submit" name="send_test" class="btn btn-purple" value="Send Test Email"/>
                                </div>
                                <div class="ppadmin-help col-sm-offset-3 col-sm-9">Test email sends ONLY to the specified from address</div>
                            </div>
                    </form>
                </div>
           {% else %}
           <div class="panel-body">
                No users selected to email!  Go <a href="{% url 'ppadmin:entries' %}">here</a> to select users.
           </div>
               {% endif %}

        </div>
    </div>
 </div>

{% endblock %}
