{% extends "ppadmin/base.html" %}
{% load static %}
{% load accounttags ppadmintags entriestags %}

{% block content %}

    <div class="container-fluid row">

        <h2>Notified Entries: {% if category != 'all' %}{{ category|format_category }}{% else %}All categories{% endif %}</h2>

        <h4>Use the "Reset Selection" button to allow changes to the selection of a entry for which the user has already
        been notified of semi-final results.  Note that this will remove the notification date and will allow you to
        update an entry and re-notify the user on the Selection page.
        </h4>
        <div class=row>
            <div class="col-xs-12">
                <form action="" method="get">
                    {{ filter_form }}
                    <div class="pull-right">
                    <a href="{% url 'ppadmin:entries_selection' %}" class="btn table-btn btn-purple">Selection List</a>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="default">
                                <th class="table-center">User <span class="fa fa-sort"></span></br><span class="ppadmin-help">Click to view details</span></th>
                                <th class="table-center">Category <span class="fa fa-sort"></span></th>
                                {% if doubles %}<th class="table-center">Doubles</br>partner</th>{% endif %}
                                <th class="table-center">Status - Notified date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entries %}
                                {% for entry in entries %}
                                <tr {% if entry.withdrawn %}class='withdrawn'{% endif %}>
                                    <td class="table-center ppadmin-tbl"><a href="{% url 'ppadmin:entry' entry.entry_ref %}">{{ entry.user.first_name|abbr_name }} {{ entry.user.last_name|abbr_name }}</a></td>
                                    <td class="table-center ppadmin-tbl">{{ entry.category | format_category }}</td>
                                    {% if filter_form.category.initial == 'DOU' %}
                                        <td class="table-center ppadmin-tbl">{% if entry.category == 'DOU' %}{{ entry.partner_name }}{% else %}N/A{% endif %}</td>
                                    {% endif %}
                                    <td id="reset_{{ entry.id }}" class="table-center ppadmin-tbl reset_td">{% include "ppadmin/includes/notified_status.txt" %}</td>
                                    <td class="table-center ppadmin-tbl"><span data-entry_id="{{ entry.id }}" class="reset_button btn table-btn btn-danger">Reset Selection</span></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td {% if doubles %}colspan="6"{% else %}colspan="5"{% endif %}>No entries found</td></tr>
                            {% endif %}

                            {% if is_paginated %}
                                <tr>
                                    <td class="ppadmin-tbl" {% if doubles %}colspan="6"{% else %}colspan="5"{% endif %}>
                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                                {% else %}
                                                    <a class="disabled" disabled=disabled href="#">Previous</a>
                                                {% endif %}
                                                <span class="page-current">
                                                    --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
                                                </span>
                                                {% if page_obj.has_next %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
                                                {% else %}
                                                    <a class="disabled" href="#">Next</a>
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock content %}


{% block extra_js %}
    {{ block.super }}
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script type='text/javascript' src="{% static 'ppadmin/js/selection_ajax.js' %}"></script>
{% endblock %}