{% extends "ppadmin/base.html" %}
{% load static %}
{% load accounttags ppadmintags entriestags %}

{% block content %}

    <div class="container-fluid row">

        <h2>Entries</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="get">
                {% for field in filter_form  %}
                  <div>
                    <span class="filter-label">{{ field.label_tag }}</span> {{ field }}
                  </div>
                {% endfor %}
                <div class="vspace-below-sm">
                <input class="btn btn-purple table-btn" type="submit" name='reset' value="Reset" />
                </div>
            </form>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <span class="pull-left">
                    <a href="{% url 'ppadmin:entries_selection' %}">Submitted entries for selection/rejection</a>
                </span>
                <span class="pull-right">
                    <a class="btn btn-export-xls" href="{% url 'ppadmin:export_entries' %}">
                        Export to spreadsheet <span class="fa fa-file-excel-o"></span>
                    </a>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                        <form class="filter-row" action="{% url 'ppadmin:email_users' %}" method="post">
                        {% csrf_token %}
                            <thead>
                            <tr class="filter-row compress">
                                    <td class="filter-row" colspan=7>
                                        <div class="pull-right">
                                                <input class="btn table-btn btn-purple" name="email_selected" type="submit" value="Email selected" /><br/>
                                                <label class="helptext" for="select-all">Select/unselect all</label>
                                            <input class="regular-checkbox ppadmin-list" id="select-all" type="checkbox"><label for="select-all" }}></label>
                                        </div>
                                    </td>
                                </tr>
                            <tr class="default">
                                <th class="table-center">User <span class="fa fa-sort"></span></br><span class="ppadmin-help">Click to view details</span></th>
                                <th class="table-center">Email</th>
                                <th class="table-center">Category <span class="fa fa-sort"></span></th>
                                <th class="table-center">Doubles</br>partner</th>
                                <th class="table-center">Status <span class="fa fa-sort"></span></th>
                                <th class="table-center">Video URL</th>
                                <th class="table-center">Email user</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entries %}
                                {% for entry in entries %}
                                <tr {% if entry.withdrawn %}class='withdrawn'{% endif %}>
                                    <td class="table-center ppadmin-tbl"><a href="{% url 'ppadmin:entry' entry.entry_ref %}">{{ entry.user.first_name|abbr_name }} {{ entry.user.last_name|abbr_name }}</a></td>
                                    <td class="table-center ppadmin-tbl"><a href="mailto:{{ entry.user.email }}" target="_blank">{{ entry.user.email|abbr_email }}</a></td>
                                    <td class="table-center ppadmin-tbl">{{ entry.category | format_category }}</td>
                                    <td class="table-center ppadmin-tbl">{% if entry.category == 'DOU' %}{{ entry.partner_name }}{% else %}N/A{% endif %}</td>
                                    <td class="table-center ppadmin-tbl {{ entry|status_class }}">{{ entry | format_status_admin }}</td>
                                    <td class="table-center ppadmin-tbl"><a href="{{ entry.video_url }}">{{ entry.video_url|abbr_url }}</a></td>
                                    <td class="table-center ppadmin-tbl">
                                        <input class="regular-checkbox ppadmin-list select-checkbox" id="email_user_{{ entry.user.id }}" name="emailusers" value="{{ entry.user.id }}" type="checkbox">
                                        <label for="email_user_{{ entry.user.id }}"></label>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="6">No entries found</td></tr>
                            {% endif %}

                            {% if is_paginated %}
                                <tr>
                                    <td class="ppadmin-tbl" colspan="6">
                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                                {% else %}
                                                    <a class="disabled" disabled=disabled href="#">Previous</a>
                                                {% endif %}
                                                <span class="page-current">
                                                    --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
                                                </span>
                                                {% if page_obj.has_next %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
                                                {% else %}
                                                    <a class="disabled" href="#">Next</a>
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </form>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock content %}
