{% extends "ppadmin/base.html" %}
{% load static %}
{% load accounttags ppadmintags entriestags %}

{% block content %}

    <div class="container-fluid row">

        <h2>Submitted Entries: {% if category != 'all' %}{{ category|format_category }}{% else %}All categories{% endif %}</h2>

        <div class=row>
            <div class="col-xs-12">
                <form action="" method="get">
                    {{ filter_form }}
                    <a href="{% url 'ppadmin:notify_users' %}" class="btn table-btn btn-purple pull-right">Notify users</a>
                </form>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="default">
                                <th class="table-center">User <span class="fa fa-sort"></span></br><span class="ppadmin-help">Click to view details</span></th>
                                <th class="table-center">Category <span class="fa fa-sort"></span></th>
                                {% if doubles %}<th class="table-center">Doubles</br>partner</th>{% endif %}
                                <th class="table-center">Video URL</th>
                                <th class="table-center">Status</th>
                                <th class="table-center">Selection</th>
                                <th class="table-center">Notified</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entries %}
                                {% for entry in entries %}
                                <tr {% if entry.withdrawn %}class='withdrawn'{% endif %}>
                                    <td class="table-center ppadmin-tbl"><a href="{% url 'ppadmin:entry' entry.entry_ref %}">{{ entry.user.first_name|abbr_name }} {{ entry.user.last_name|abbr_name }}</a></td>
                                    <td class="table-center ppadmin-tbl">{{ entry.category | format_category }}</td>
                                    {% if filter_form.category.initial == 'DOU' %}
                                        <td class="table-center ppadmin-tbl">{% if entry.category == 'DOU' %}{{ entry.partner_name }}{% else %}N/A{% endif %}</td>
                                    {% endif %}
                                    <td class="table-center ppadmin-tbl"><a href="{{ entry.video_url }}">{{ entry.video_url|abbr_url }}</a></td>
                                    <td id="selection_status_{{ entry.id }}" class="table-center ppadmin-tbl selection_status_td">{% include "ppadmin/includes/selection_status.txt" %}</td>
                                    <td class="table-center ppadmin-tbl">
                                        <span data-entry_id="{{ entry.id }}" class="toggle_selected_button btn table-btn btn-success btn-selection {% if entry.status == 'selected_confirmed' or entry.notified %}disabled{% endif %}"><span class="fa fa-check"></span></span>
                                        <span data-entry_id="{{ entry.id }}" class="toggle_rejected_button btn table-btn btn-danger btn-selection {% if entry.status == 'selected_confirmed' or entry.notified %}disabled{% endif %}"><span class="fa fa-times"></span></span>
                                        <span data-entry_id="{{ entry.id }}" class="toggle_undecided_button btn table-btn btn-default btn-selection {% if entry.status == 'selected_confirmed' or entry.notified %}disabled{% endif %}"><span class="fa fa-question"></span></span>
                                    </td>
                                    <td class="table-center ppadmin-tbl">{% if entry.notified_date %}{{ entry.notified_date|date:'d M Y' }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td {% if doubles %}colspan="6"{% else %}colspan="5"{% endif %}>No entries found</td></tr>
                            {% endif %}

                            {% if is_paginated %}
                                <tr>
                                    <td class="ppadmin-tbl" {% if doubles %}colspan="6"{% else %}colspan="5"{% endif %}>
                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                                {% else %}
                                                    <a class="disabled" disabled=disabled href="#">Previous</a>
                                                {% endif %}
                                                <span class="page-current">
                                                    --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
                                                </span>
                                                {% if page_obj.has_next %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
                                                {% else %}
                                                    <a class="disabled" href="#">Next</a>
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock content %}


{% block extra_js %}
    {{ block.super }}
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script type='text/javascript' src="{% static 'ppadmin/js/selection_ajax.js' %}"></script>
{% endblock %}