{% extends "ppadmin/base.html" %}
{% load static %}
{% load ppadmintags accounttags %}

{% block content %}

<div class="container-fluid row">
    <div>
        <a href="javascript:window.print()" id="print-button" alt="print this page"><span class="fa fa-print fa-3x"></span></a>
        {% if request.user.is_staff %}
            <a class='no-print' href="{% url 'ppadmin:update_user_disclaimer' encoded_user_id %}"><div class="btn btn-info">Update</div></a>
            <a class='no-print' href="{% url 'ppadmin:delete_user_disclaimer' encoded_user_id %}"><div class="btn btn-danger">Delete</div></a>
        {% endif %}
    </div>


    <div class="disclaimer">
    <h1>Waiver for {{ disclaimer.user.first_name }} {{ disclaimer.user.last_name }} ({{ disclaimer.user.username }})</h1>

    <div class="divider"></div>

    <h4>Personal Details</h4>
    <strong>DOB: </strong>{{ disclaimer.user.profile.dob }}<br/>
    <strong>Address: </strong>{{ disclaimer.user.profile.address }}<br/>
    <strong>Phone: </strong>{{ disclaimer.user.profile.phone }}<br/>

    <div class="divider"></div>

    <h4>Emergency Contact </h4>
    <strong>Name: </strong>{{ disclaimer.emergency_contact_name }}<br/>
    <strong>Relationship: </strong>{{ disclaimer.emergency_contact_relationship }}<br/>
    <strong>Contact number: </strong>{{ disclaimer.emergency_contact_phone }}<br/>

    <h4>WAIVER</h4>
     {% if disclaimer.terms_accepted %}<p>{{ disclaimer.waiver_terms|linebreaks}}<br/><strong>CONFIRMED</strong></p>{% endif %}

    <div class="divider"></div>
    <h4>WAIVER COMPLETED ONLINE: {{ disclaimer.date }}</h4>
    <h4>LAST UPDATED: {% if disclaimer.date_updated %}{{ disclaimer.date_updated }}{% else %}N/A{% endif %}</h4>

    </div>

</div>
{% endblock content %}
