{% extends "ppadmin/base.html" %}
{% load static %}
{% load accounttags ppadmintags %}

{% block content %}

    <div class="container-fluid row">

        <h2>Registered Users</h2>

        <div class=row>
            <div class="col-sm-12">
            <form action="" method="get">
                {{ form.search }}
                <input class="btn btn-purple table-btn" type="submit" name='search_submitted' value="Search" />
                <input class="btn btn-purple table-btn" type="submit" name='reset' value="Reset" /><br/>
                And/or filter by first name<br/>
                {% for opt in filter_options %}
                    <input
                            class="btn btn-alph-filter {% if not opt.available %}btn-disabled{% elif active_filter == opt.value %}btn-purple{% else %}btn-unselected{% endif %} "
                            {% if not opt.available %}disabled{% endif %}
                            type="submit"
                            name="filter"
                            value="{{ opt.value }}"
                    />
                {% endfor %}
            </form>
        </div>



        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">

                    <div class="table-responsive">
                        <table class="table tablesorter" id="sortTable">
                            <thead>
                            <tr class="default">
                                <th class="table-center">Username <span class="fa fa-sort"></span></br><span class="ppadmin-help">Click to view entries</span></th>
                                <th class="table-center">First Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Last Name <span class="fa fa-sort"></span></th>
                                <th class="table-center">Waiver</br><span class="ppadmin-help">Click to view/print</span></th>
                                <th class="table-center">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="table-center ppadmin-tbl">
                                    <a href="{% url 'ppadmin:entries' %}?user={{ user.id}}">{{ user.username|abbr_username }}</a>
                                </td>
                                <td class="table-center ppadmin-tbl">{{ user.first_name|abbr_name }}</td>
                                <td class="table-center ppadmin-tbl">{{ user.last_name|abbr_name }}</td>
                                <td class="table-center ppadmin-tbl">
                                    {% if user|has_disclaimer %}
                                        <a href="{% url 'ppadmin:user_disclaimer' user.id|encode %}" target="_blank"><span class="has-disclaimer-pill">Yes</span></a>
                                    {% else %}No{% endif %}
                                <td class="table-center ppadmin-tbl"><a href="mailto:{{ user.email }}" target="_blank">{{ user.email|abbr_email }}</a></td>
                            </tr>
                            {% endfor %}

                            {% if is_paginated %}
                                <tr>
                                    <td class="ppadmin-tbl" {% if request.user.is_superuser %}colspan="8"{% elif request.user.is_staff %}colspan="7"{% else %}colspan="5"{% endif %}>
                                            <div class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">Previous</a>
                                                {% else %}
                                                    <a class="disabled" disabled=disabled href="#">Previous</a>
                                                {% endif %}
                                                <span class="page-current">
                                                    --  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} --
                                                </span>
                                                {% if page_obj.has_next %}
                                                    <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
                                                {% else %}
                                                    <a class="disabled" href="#">Next</a>
                                                {% endif %}
                                            </div>
                                    </td>
                                </tr>
                            {% endif %}

                            </tbody>
                            <tfoot>
                            <tr class="default">
                                <td colspan="6">
                                    {% if search_submitted or active_filter != "All" %}
                                        Search results: returned {{ num_results }} of {{ total_users }} users
                                    {% else %}
                                        Total {{ total_users }} users
                                    {% endif %}
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
         </div>

    </div>

{% endblock content %}

{% block extra_js %}
   {{ block.super }}
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script type='text/javascript' src="{% static 'ppadmin/js/user_list_ajax.js' %}"></script>
{% endblock %}