.ppadmin-tbl {
    padding-top: 5px; !important;
    padding-bottom: 5px; !important;
    white-space: nowrap;
    font-size: small;
	vertical-align: middle; !important;

}

.ppadmin-help {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.ppadmincbox-help {
    font-size: smaller;
    font-style: italic;
    vertical-align: top;
}

.btn.btn-alph-filter {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn.btn-alph-filter.btn-unselected {
    background-color:dimgrey;
    color: white;
    border: 1px solid dimgray;
}
.btn.btn-alph-filter.btn-unselected:hover {
    background-color:whitesmoke;
    color: dimgrey;
}

.table-btn, .disabled .btn .btn-success .table-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    font-size: 90%;
	width: 9.2em;
	color: #fff;
    }

.subscribe-btn {
    width: 5em;
    background-color: grey;
    border: 1px solid grey;
}

.subscribe-btn:hover, .subscribe-btn.subscribed:hover {
    background-color: whitesmoke;
    color: grey;
}

.subscribe-btn.subscribed {
    background-color: green;
    border: 1px solid green;
}

.subscribe-btn.subscribed:hover {
    color: green;
}

.filter-btn {
    width: 11.2em;
}

.navbrandadmin {
    color: rgb(151, 10, 241);
    font-size: xx-large;
    font-weight: bolder;
}