.table > tbody > tr > td.ppadmin-tbl {
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    font-size: small;
	vertical-align: middle; !important;
}

.ppadmin-help {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}

.ppadmincbox-help {
    font-size: smaller;
    font-style: italic;
    vertical-align: top;
}

.btn.btn-alph-filter {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btn.btn-alph-filter.btn-unselected {
    background-color:dimgrey;
    color: white;
    border: 1px solid dimgray;
}
.btn.btn-alph-filter.btn-unselected:hover {
    background-color:whitesmoke;
    color: dimgrey;
}

.table-btn, .disabled .btn .btn-success .table-btn {
    padding-top: 0;
    padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
    font-size: 90%;
	width: 9.2em;
	color: #fff;
    }

.subscribe-btn {
    width: 5em;
    background-color: grey;
    border: 1px solid grey;
}

.subscribe-btn:hover, .subscribe-btn.subscribed:hover {
    background-color: whitesmoke;
    color: grey;
}

.subscribe-btn.subscribed {
    background-color: green;
    border: 1px solid green;
}

.subscribe-btn.subscribed:hover {
    color: green;
}

.filter-btn {
    width: 11.2em;
}

.navbrandadmin {
    color: rgb(151, 10, 241);
    font-size: xx-large;
    font-weight: bolder;
}

.btn-selection {
    width: 2em;
}

.selected-status, .rejected-status, .undecided-status {
    margin: 0;
    padding: 6px;
}

.toggle_undecided_button {
    color: darkgrey;
}

tr > td.selection_status_td {
    width: 75px;
    padding: 0 !important;
}

.selected-status {
    background-color: rgba(92, 184, 92, 0.3);
}
.rejected-status {
    background-color: rgba(217, 83, 79, 0.3);
}
.undecided-status {
    background-color: rgba(125, 125, 125, 0.2);
}

.table-btn.notify-btn {
    width: 5em;
    font-size: 75%;
    margin: 0;
}

span.unnotified {
    color: red;
    font-weight: bold;
}