{% extends 'base.html' %}
{% load static %}

{% block nav_content %}
    <ul class="nav navbar-nav">
			<li> <a href="#about" class="smoothScroll"> About</a></li>
			<li> <a href="#entry-info" class="smoothScroll"> Entry Information</a></li>
			<li> <a href="#judges" class="smoothScroll"> Judges</a></li>
			<li> <a href="#organisers" class="smoothScroll"> Organisers</a></li>
			  <li> <a href="#gallery" class="smoothScroll hidden-sm"> 2016 Gallery</a></li>
			<li> <a href="#contact" class="smoothScroll hidden-sm"> Contact</a></li>
    </ul>
	<ul class="nav navbar-nav hidden-xs hidden-md hidden-lg">
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li> <a href="#gallery" class="smoothScroll"> 2016 Gallery</a></li>
			  <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
          </ul>
        </li>
	</ul>

	<ul class="nav navbar-nav hidden-xs pull-right">
		<li> <a href="{% url 'entries:entries_home' %}" class="smoothScroll"> Competitors' Section</a></li>
        {% if request.user.is_staff %}<li class="active-nav"><a href="{% url 'ppadmin:users' %}">Admin</a></li>{% endif %}
	</ul>
	<ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
		<li> <a href="{% url 'entries:entries_home' %}" class="smoothScroll"> Competitors' Section</a></li>
        {% if request.user.is_staff %}<li class="active-nav"><a href="{% url 'ppadmin:users' %}">Admin</a></li>{% endif %}
	</ul>

{% endblock %}


{% block content %}
  
  
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 	<div><img class="img-responsive center-block" src="{% static 'web/images/header_text.png' %}" alt=""></div>
				<br/><br/>
				<p>Presented by</br>
				The Watermelon Studio & Carousel Fitness</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-sm-4 callout">
					<!--<span class="icon icon-eye"></span>-->
					<h2>Date</h2>
					<p>12 March 2017</br>(Final)</p>
				</div><!-- col-lg-4 -->

				<div class="col-sm-4 callout">
					<!--<span class="icon icon-stack"></span>-->
					<h2>Categories</h2>
					<p>Beginner - Intermediate - Advanced - Mens - Professional - Doubles</p>
				</div><!-- col-lg-4 -->

				<div class="col-sm-4 callout">
					<!--<span class="icon icon-heart"></span>-->
					<h2>Venue</h2>
					<p>Carnegie Hall</br>Dunfermline</p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">ABOUT POLE PERFORMANCE</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Pole Performance is a pole dance competition based in Scotland and is open to anyone.
						The Watermelon Studio and Carousel Fitness wanted to create a competition where
						the routine focused on the overall performance and not just the difficulty of tricks.
					</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>We wanted to create a competition where each routine was a true performance,
						from the choreography right down to the costumes.
						Our first competition ran in March 2016 which was a huge success and we hope to
						run for many more years.
					</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>ENTRIES OPEN SEPTEMBER 2016</h1>
				<hr>
				{% if entries_open %}<div class="centered"><a href="{% url 'entries:entries_home' %}" class="btn btn-large btn-purple">Further Information</a></div>{% endif %}
			</div><!-- container -->
		</section><!-- section -->
		
		
		<!-- ==== ENTRIES ==== -->
		<div class="container" id="entry-info" name="entry-info">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">ENTRY INFORMATION</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Initial application is by video entry. Entries close at midnight on {{ entries_close_date|date:"d M Y" }}.
						Videos must not exceed 3 minutes and must not be edited. 6 people from
						mens/professional/beginners and 8 from intermediate/advanced/doubles category
						with the highest scores will perform live at the finals at Carnegie Hall, Dunfermline on 12th
						March 2017. </p>
					<p>More details can be found in the <a href="{% url 'entries:entries_home' %}">Competitors' section</a>. </p>
					<div class="centered"><a href="{% url 'entries:entries_home' %}" class="btn btn-large btn-purple">Enter</a></div>
				</div><!-- col-lg -->
			</div><!-- row -->

		</div><!-- container -->
  		

		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1></h1>
				<!--<hr>-->
				<br><br>
				<p></p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== JUDGES ==== -->
		<div class="container" id="judges" name="judges">
		<br>
			<div class="row white centered">
				<h1 class="centered">JUDGES & COMPÈRE</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 col-md-3 col-xs-6 centered">
					<img class="img img-circle" src="{% static 'web/images/question-mark.png' %}" height="120px" width="120px" alt="">
					<br>
					<h4><b></b></h4>
					<p>To be confirmed</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 col-md-3 col-xs-6 centered">
					<img class="img img-circle" src="{% static 'web/images/question-mark.png' %}" height="120px" width="120px" alt="">
					<br>
					<h4><b></b></h4>
					<p>To be confirmed</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 col-md-3 col-xs-6 centered">
					<img class="img img-circle" src="{% static 'web/images/question-mark.png' %}" height="120px" width="120px" alt="">
					<br>
					<h4><b></b></h4>
					<p>To be confirmed</p>
				</div><!-- col-lg-3 -->

				<div class="col-lg-3 col-md-3 col-xs-6 centered">
					<img class="img img-circle" src="{% static 'web/images/question-mark.png' %}" height="120px" width="120px" alt="">
					<br>
					<h4><b></b></h4>
					<p>To be confirmed</p>
				</div><!-- col-lg-3 -->

				
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== ORGANISERS ==== -->

	<div class="container" id="organisers" name="organisers">
			<div class="row white">
			<br>
				<h1 class="centered">ORGANISERS</h1>
				<hr>

				<div class="col-sm-6">
					<div class="col-sm-4 centered">
						<p><a href="http://thewatermelonstudio.co.uk"><img class="img" src="{% static 'web/images/watermelon_logo.png' %}" width="100px" height="auto"></a></p>
							<a href="http://thewatermelonstudio.co.uk"><span class="noncoloured-link icon icon-globe"></span></a>&nbsp;
							<a href="https://www.facebook.com/thewatermelonstudioedinburgh"><span class="noncoloured-link icon icon-facebook"></span></a>&nbsp;
							<a href="https://twitter.com/watermelonpole"><span class="noncoloured-link icon icon-twitter"></span></a>&nbsp;
							<a href="https://www.instagram.com/thewatermelonstudio"><span class="noncoloured-link icon icon-instagram"></span></a>
					</div>
					<div class="col-sm-8">
						<h2 class="centered">The Watermelon Studio</h2>
						<p>The Watermelon Studio specialises in Pole Fitness/Dance in Central Edinburgh. We offer Pole and Flexibility classes weekly and several workshops throughout the year. We also host dance parties ranging from Pole Dancing to Twerking and much more!</p>
                    </div>
				</div><!-- col-md-6 -->

				<div class="col-sm-6">
					<div class="col-sm-4 centered">
						<p><a href="http://carouselfitness.co.uk"><img class="img" src="{% static 'web/images/carousel_logo.jpg' %}" width="100px" height="auto"></a></p>
						<a href="http://carouselfitness.co.uk"><span class="noncoloured-link icon icon-globe"></span></a>&nbsp;
						<a href="https://www.facebook.com/polefitstarlet.dunfermline"><span class="noncoloured-link icon icon-facebook"></span></a>&nbsp;
						<a href="https://www.instagram.com/carouselfitness"><span class="noncoloured-link icon icon-instagram"></span></a>
					</div>
					<div class="col-sm-8">
						<h2 class="centered">Carousel Fitness</h2>
						<p>Carousel Fitness is a studio based in Inverkeithing that runs a variety of alternative fitness classes. From Pole to HIIT, Burlesque to Stretch and Flex, our aim as a school is to increase fitness, boost confidence and teach new skills in a fun and fresh way.</p>
					</div>
				</div><!-- col-md-6 -->
			</div><!-- row -->
		</div><!-- container -->


		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>SPONSORSHIP OPTIONS AVAILABLE</h1>
				<hr>
				<p><strong><a href="mailto:{{ pp_email }}">Contact us</a> for details</strong></p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== GALLERY ==== -->
		<div class="container" id="gallery" name="gallery">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">2016 GALLERY</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">	
			
				<!-- GALLERY IMAGE 1 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal1">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery1.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				
						 <!-- MODAL SHOW THE GALLERY IMAGE. -->
						      
						  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery1.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				
				<!-- GALLERY IMAGE 2 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal2">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery2.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL SHOW THE GALLERY IMAGE. -->

						  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery2.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				<!-- GALLERY IMAGE 3 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal3">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery3.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL SHOW THE GALLERY IMAGE. -->

						  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery3.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				<!-- GALLERY IMAGE 4 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal4">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery4.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->


				<!-- MODAL SHOW THE GALLERY IMAGE. -->

						  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery4.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				<!-- GALLERY IMAGE 5 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal5">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery5.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL SHOW THE GALLERY IMAGE. -->

						  <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery5.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				<!-- GALLERY IMAGE 6 -->
				<div class="col-sm-4 col-xs-6">
			    	<div class="grid mask">
						<a data-toggle="modal" href="#modal6">
							<div class="gallery-box">
							<img class="img-responsive" src="{% static 'web/images/gallery/gallery6.jpg' %}" alt="">
							</div>
						</a>
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL SHOW THE GALLERY IMAGE. -->

						  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Pole Performance 2016</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{% static 'web/images/gallery/gallery6.jpg' %}" alt=""></p>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


			</div><!-- /row -->
			</div>	<!-- /container -->
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">CONTACT US</h1>
				<hr>
				<br>
				<div class="col-lg-4 col-lg-offset-4">
					<p><span class="icon icon-envelop"></span> <a href="mailto:{{ pp_email }}">{{ pp_email }}</a> <br/>
						<span class="icon icon-facebook"></span> <a href="https://www.facebook.com/Pole-Performance-Competition-111934239163033/"> Pole Peformance Competition</a> <br/>
						<span class="icon icon-globe"></span> <a href="http://thewatermelonstudio.co.uk/"> The Watermelon Studio</a> <br/>
						<span class="icon icon-globe"></span> <a href="http://carouselfitness.co.uk/"> Carousel Fitness</a> <br/>
					</p>
				</div><!-- col -->


			</div><!-- row -->
		
		</div><!-- container -->

{% endblock content %}
