{% extends "entries/entries_base.html" %}
{% load static %}
{% load entriestags %}

{% block content %}
    <div class="container-fluid">
    <h1>Delete Entry</h1>
        <div>
            <h3>You are about to delete your entry for the {{ entry.category|format_category }} category</h3>
            <h4>Are you sure?</h4>
        <form action="" method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete entry" />
            <a href="{% url 'entries:user_entries' %}"><div class="btn btn-warning">Back</div></a>
        </form>
    </div>
    </div>
{% endblock content %}