{% extends 'entries/entries_base.html' %}
{% load entriestags accounttags %}

{% block content %}
<div class="container-fluid">
{% if not form.already_submitted %}
    <h1>Entry Form</h1>
{% else %}
    <h1>Updating Entry for category: {{ form.instance.category|format_category }}</h1>
{% endif %}

{% if not request.user|has_disclaimer %}
    <p>Please <a href="{% url 'accounts:disclaimer_form' %}">complete a disclaimer</a> before beginning the entry process.</p>
{% else %}
    {% if form.errors %}
        <div class="errorlist">Please correct the errors below</div>
    {% endif %}

    <form id="entryform" class="entry-form" action="" method="post">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}

        <!---  DOUBLES CHECK FOR UPDATING --->
        {%  if field.name == 'partner_name' or field.name == 'partner_email' %}
            {% if form.instance.id and form.instance.category != 'DOU' %}
                <span class="hide">{{ field }}</span>
            {% elif form.hide_doubles %}
                <span class="hide">{{ field }}</span>
            {% else %}
                <div class="form-group" id="{{ field.name }}_group_id">
                    <label class="control-label col-xs-2" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                    <div class="col-xs-10 {% if form.name.errors %}error-info{% endif %}">{{ field }}</div>
                    <div class="helptext col-xs-10 col-xs-offset-2">{{ field.help_text }}</div>
                    {% if field.errors %}
                        <div class="col-xs-10 col-xs-offset-2">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}

        <div class="form-group" id="{{ field.name }}_group_id">
            <label class="control-label col-xs-2" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
            <div class="col-xs-10 {% if form.name.errors %}error-info{% endif %}">
                {% if form.already_submitted %}  <!---  CATEGORY AND VIDEO URL DISABLED FOR UPDATING --->
                    {% if field.name == 'category' %}
                        <span class="submitted-entry-field">{{ form.instance.category | format_category }}</span>
                    {% elif field.name == 'video_url' %}
                        <span class="submitted-entry-field">
                            <a href="{{ form.instance.video_url }}">{{ form.instance.video_url }}</a>
                        </span>
                    {% endif %}
                {% endif %}  <!---  ENDIF CATEGORY AND VIDEO URL DISABLED FOR UPDATING --->
                {{ field }}</div>
            <div class="helptext col-xs-10 col-xs-offset-2">{{ field.help_text }}</div>
            {% if field.errors %}
                <div class="col-xs-10 col-xs-offset-2">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>

        {% endif %} <!---  ENDIF DOUBLES CHECK FOR UPDATING --->
    {% endfor %}
    </div>
        <div class="col-xs-12 vspace vspace-below">
            {% if not form.already_submitted %}
            <br>Click Save to save your data without submitting your entry yet. Click Submit to submit your entry.</br>
                Please note that category and video URL cannot be edited after submission.
            <strong>Please check you have entered your video URL correctly!</strong>
            </p>
            <input class="btn btn-purple" name='saved' type="submit" value="Save for later" />
            {% endif %}
            <input class="btn btn-purple" name='submitted' type="submit" value="Submit" />
        </div>

    </form>

{% endif %}
</div>
{% endblock %}