{% extends 'entries/entries_base.html' %}
{% load entriestags accounttags %}
{% load static %}

{% block content %}
<div class="container-fluid">
{% if not form.already_submitted %}
    <h1>Entry Form</h1>
{% else %}
    <h1>Updating Entry for category: {{ form.instance.category|format_category }}</h1>
{% endif %}

{% if not request.user|has_disclaimer %}
    <p>Please <a href="{% url 'accounts:disclaimer_form' %}">complete a waiver</a> before beginning the entry process.</p>
{% else %}
    {% if form.errors %}
        <div class="errorlist">Please correct the errors below</div>
    {% endif %}

    <form id="entryform" class="entry-form" action="" method="post">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}

        <!---  DOUBLES CHECK FOR UPDATING --->
        {%  if field.name == 'partner_name' or field.name == 'partner_email' %}
            {% if form.show_doubles %}
                <div class="form-group col-xs-12">
                    <label class="control-label col-sm-2 col-xs-12" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                    <div class="col-sm-10 col-xs-12 {% if field.errors %}error-info{% endif %}">{{ field }}</div>
                    <div class="col-sm-10 col-sm-offset-2 col-xs-12 helptext">{{ field.help_text }}</div>
                    {% if field.errors %}
                        <div class="col-sm-10 col-sm-offset-2 col-xs-12">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <span class="hide">{{ field }}</span>
            {% endif %}
        {% else %}

        <div class="form-group col-xs-12">
            <label class="control-label col-sm-2" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
            <div class="col-sm-10 col-xs-12 {% if field.errors %}error-info{% endif %}">
                {% if form.already_submitted %}  <!---  CATEGORY AND VIDEO URL DISABLED FOR UPDATING --->
                    {% if field.name == 'category' %}
                        <span class="submitted-entry-field col-sm-10">{{ form.instance.category | format_category }}</span>
                        <span class="hide">{{ field }}</span>
                    {% elif field.name == 'video_url' and not entries_open %}
                        <span class="submitted-entry-field col-sm-10 ">
                            <a href="{{ form.instance.video_url }}">{{ form.instance.video_url }}</a>
                        </span>
                        <span class="hide">{{ field }}</span>
                    {% else %}  <!---  ENDIF CATEGORY AND VIDEO URL DISABLED FOR UPDATING --->
                        {{ field }}
                    {% endif %}
                {% else %}
                    {{ field }}
                {% endif %}
            <span class="helptext col-sm-10 col-xs-12">{{ field.help_text }}</span>
            {% if field.name == 'video_url' and form.instance.video_url and entries_open %}
                <span class="helptext col-sm-10 col-xs-12">Current URL: <a href="{{ form.instance.video_url }}">{{ form.instance.video_url }}</a></span>{% endif %}
            </div>
            {% if field.errors %}
                <div class="col-sm-10 col-sm-offset-2 col-xs-12">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>

        {% endif %}
    {% endfor %}

     <!---  DOUBLES PARTNER INFO --->
    {% if form.show_doubles %}
    <div class="container-fluid">
        <div id="check_partner_status" class="btn btn-primary table-btn check-partner-btn col-sm-2 col-sm-offset-2">
            Check partner status
        </div>

        <div class="col-sm-10 col-sm-offset-2 col-xs-12 partner_info vspace">
            {% include "entries/includes/partner_check.txt" %}
        </div>
    </div>
    {% endif %}


    </div>
        <div class="col-xs-12 vspace vspace-below">
            {% if not form.already_submitted %}
            <br>Click Save to save your data without submitting your entry yet. Click Submit to submit your entry.</br>
                Please note that the category cannot be edited after submission.
            </p>
            <input class="btn btn-purple" name='saved' type="submit" value="Save for later" />
            {% endif %}
{#            Disable submit button for NEW submissions only if entries are closed #}
            <input class="btn btn-purple" {% if not entries_open and not form.already_submitted and not user.is_superuser %}disabled{% endif %}
                   name='submitted' type="submit" value="{% if form.already_submitted %}Update{% else %}Submit{% endif %}" />
            {% if not entries_open %}<span class="helptext">Entries are closed{% if user.is_superuser %} (this button is enabled because you are a superuser){% endif %}</span>{% endif %}
        </div>

    </form>

{% endif %}
</div>
{% endblock %}


{% block extra_js %}
    {{ block.super }}
   <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
   <script type='text/javascript' src="{% static 'entries/js/check_partner_ajax.js' %}"></script>
{% endblock %}