{% extends 'base.html' %}

{% load static %}
{% load accounttags %}

{% block extra_styles %}
<link href="{% static 'entries/css/custom.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'entries/css/jquery.datetimepicker.css' %}"/ >
{% endblock %}

{% block nav_content %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'entries:entries_home' %}#entry-info" class="smoothScroll">Entry Information</a></li>
        <li><a href="{% url 'entries:entries_home' %}#categories" class="smoothScroll">Categories</a></li>
        <li><a href="{% url 'entries:entries_home' %}#tc" class="smoothScroll">T & C</a></li>
        {% if user.is_authenticated %}<li><a href="{% url 'entries:user_entries' %}" class="smoothScroll">My entries</a></li>{% endif %}
    </ul>

    <ul class="nav navbar-nav pull-right account-nav">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
            <div class="welcome-menu">{{request.user}}</div>
          <a href="#" class="account-menu dropdown-toggle active-nav-login" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'account_change_password' %}">Change password</a></li>
            <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
              {% if not request.user|has_disclaimer %}
                <li><a href="{% url 'accounts:disclaimer_form' %}">Waiver Form</a></li>
              {% endif %}
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% if request.user.is_staff %}
               <li class="active-nav"><a href="{% url 'ppadmin:users' %}">Admin</a></li>
            {% endif %}
          </ul>
        </li>
        {% else %}
        <div class="welcome-menu">Not logged in</div>
        <li class="active-nav-login account-menu"><a class="account-menu" href="{% url 'account_login' %}?next={{request.get_full_path}}">Log In</a></li>
        {% endif %}
    </ul>
{% endblock nav_content %}

<!--MENU SECTION END-->
{% block messages %}
        {% if messages %}
          <div class="row">
            <div class="col-sm-12">
                {% for message in messages %}
                <div {% if message.tags and message.tags == 'error' %}
                            class="message alert alert-danger"
                     {% elif message.tags %}
                            class="message alert alert-{{ message.tags }}"
                     {% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
          </div>
        {% endif %}
{% endblock messages %}

  {% block footer_content %}
    <div id="footer">
		<div id="footerwrap">
			<div class="container">
				<h6>Site developed by Becky Smith</h6>
			</div>
		</div>

    </div>
  {% endblock %}


{% block extra_js %}
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript" src="{% static 'entries/js/jquery.datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'entries/js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'entries/js/jquery.are-you-sure.js' %}"></script>
<script type="text/javascript" src="{% static 'entries/js/custom.js' %}"></script>
{% endblock %}