{% extends 'entries/entries_base.html' %}

{% load accounttags entriestags %}

    {% block content %}

    <div class="extra-top-margin row">
        <div class="col-xs-12">
            <div class="pull-right">
            {% if not user.is_authenticated %}
                To enter or view your previous entries,
                    please <a href="{% url 'login' %}?next=/entries/">log in</a> or <a href="{% url 'account_signup' %}?next=/entries/">sign up</a> for a new account.<br/>
            {% endif %}
            {% if entries_open %}
                <span class="pull-right" {% if not user.is_authenticated %} data-toggle="tooltip" data-placement="left" title="Log in to enter"{% endif %}>
                <a {% if not user.is_authenticated %}class="btn btn-purple disabled"
                   {% else %}class="btn btn-purple"{% endif %} href="{% url 'entries:user_entries' %}">ENTER NOW</a></span>
            {% else %}
                <span class="pull-right">
                    ENTRIES ARE NOT CURRENTLY OPEN<br>
                    Entries open: {{ entries_open_date }}<br>
                    Entries close: {{ entries_close_date }}
                </span>
            {% endif %}
            </div>
        </div>

        <div class="col-xs-12">
        <h1 id="entry-info">Entry Information for Competitors</h1>

        <h2>Semi Finals - Video Entry</h2>

        <p>Please upload your video to YouTube or similar and submit a link to your video with your entry.</p>

        <p>Entries close at midnight on the 1st of November. Videos must not exceed
            3 minutes and must not be edited. 6 people from mens/professional/beginners and 8 from
            intermediate/advanced/doubles category with the highest scores will perform live at the finals.
            </p>

        <p>Your video will be marked by an impartial judge who will mark you on the following:</p>

        <ul>
            <li>Choreography</li>
            <li>Originality</li>
            <li>Stage presence</li>
            <li>Tricks- level of difficulty (Advance/Professional/Mens only)</li>
            <li>Tricks- execution</li>
            <li>Costume/Makeup</li>
            <li>Transitions on and off the pole</li>
            <li>Overall performance</li>
        </ul>

        <p>£10 (£15 for doubles) video entry fee must be made via paypal before entry will be accepted. If
            application is successful and you make it through to the final, a further fee of £15 per
            solo and £20 per double will be required.</p>

        <p>Doubles must both register and complete waivers.  One member of the doubles should submit
            an entry form specifying their partner's name and email.  Partner's email address will be used
            to check registration and waiver status and you will not be able to submit the entry until both
            partners have completed the required information.</p>

        <h2>Finals</h2>

        <p>12 March 2017</br>12pm - 8pm</p>
        <p>Carnegie Hall</br>
        Dunfermline</br>
        KY12 7JA</p>

        <h2>Technical Specifications and Information for Finals</h2>

        <ul>
            <li>Two rigged x-poles (one static, one spinny).</li>
            <li>Poles 3.2 meters.</li>
            <li>Judges to be confirmed. You won’t be disappointed!</li>
            <li>Pole performance, Carnegie hall staff and anyone helping out on the day are not liable for
            any injuries sustained from taking part in the competition.</li>
            <li>You may bring a chaperone, but they do require a normal ticket.</li>
            <li>If you withdraw at ANY point after accepting a place in the finals,
            you will be required to pay a £25 cancellation fee.</li>
        </ul>

        <h1 id="categories">Categories</h1>

        <h2>Beginner</h2>
        <ul>
            <li>Less than 18months pole experience</li>
            <li>Must have not previously won a pole competition in the beginners category</li>
            <li>Inverts from floor only</li>
            <li>Maximum of 3 moves up the pole during the same combination ie (scissor seat, wrist
            seat, drama queen)</li>
            <li>Must always have three points of contact when in a up the pole move</li>
            <li>No drops</li>
        </ul>

        <h2>Intermediate</h2>
            <ul>
                <li>Must not have previously won a pole competition in the intermediate category within the past three years</li>
                <li>Only basic inverts (air invert allowed)</li>
                <li>No handsprings/ayeshas</li>
                <li>Must use both static and spinny</li>
                <li>No instructors</li>
                <li>Must not be a paid performer</li>
                <li>No flips</li>
            </ul>

        <h2>Advanced</h2>
            <ul>
                <li>Must not have previously won a pole competition in an advanced category within the past three years</li>
                <li>Must not be a paid performer</li>
                <li>No handspring deadlifts or aerial handsprings</li>
                <li>Must use both static and spinny</li>
                <li>Instructors allowed (if you have entered less than 5 competitions previous)</li>
                <li>Only one flip permitted</li>
            </ul>
        <h2>Doubles</h2>
            <ul>
                <li>No restrictions</li>
                <li>Must use both static and spinny</li>
                <li>Same or mixed gender</li>
            </ul>

        <h2>Mens</h2>
            <ul>
                <li>Must not be a paid performer
                <li>Must not have previously won a competition in the mens category (if so, enter professional!)</li>
                <li>Only one flip permitted</li>
                <li>Only one handspring deadlift permitted</li>
                <li>Must use both static and spinny</li>
            </ul>

        <h2>Professional</h2>
            <ul>
                <li>No move restrictions</li>
                <li>Must use both static and spinny</li>
                <li>Instructors allowed</li>
                <li>Female and males welcome</li>
            </ul>


        <h1 id="tc">Terms and Conditions</h1>

         <p>Entry fees are NON REFUNDABLE. If you withdraw your entry at any point after
             selection and accepting your place, you will be charged a £25
             cancellation fee; if this is not paid you will not be able to enter Pole
             Performance in the future. You must be available all day on 12/03/2017. Failure to follow
             category rules will result in you being disqualified. Your video will not be judged if you do not
             pay your entry fee before the closing date. All competitors MUST be over the age of 18. The
             contestants with the highest scores will go through to the final and will be announced firstly on
             Facebook. Please note, you will be required to provide further entry information should you
             make it through to the final.</p>

        </div>
    </div>
    {% endblock content %}


