{% extends "entries/entries_base.html" %}
{% load static %}
{% load entriestags accounttags %}

{% block content %}


<div class="container-fluid row extra-top-margin">
    <div class="pull-right"><a class="btn btn-purple {% if not user|has_disclaimer %}disabled{% endif %}" href="{% url 'entries:create_entry' %}">Start new entry</a></div>

    <h1>Entries</h1>

    {% if user|has_disclaimer %}
        <div class="row">
        {% if entries %}
            <div class="panel panel-default">
                    {% for entry in entries %}
                        <div class="panel-body entries-panel {% if entry.instance.withdrawn %}withdrawn{% endif %}">
                            <div class="col-xs-12">
                                <label class="col-xs-6 col-sm-5">
                                    Category
                                </label>
                                <div class="col-xs-6 col-sm-7">
                                    {{ entry.instance.category|format_category }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6 col-sm-5">
                                    Status
                                </label>
                                <div class="col-xs-6 col-sm-7">
                                    <span class="{{ entry.instance|status_class }}">{{ entry.instance|format_status }}</span>
                                    {% if entry.instance.status == "selected" and not entry.instance.withdrawn %}
                                    <a class="btn btn-success table-btn" href="{% url 'entries:confirm_entry' entry.instance.entry_ref %}">Confirm entry</a>{% endif %}
                                    {% if entry.instance.withdrawn and entry.instance.status == "selected_confirmed" and not entry.instance.withdrawal_fee_paid %}
                                    <a class="btn btn-purple table-btn" href="{% url 'entries:withdrawal_payment' entry.instance.entry_ref %}">Pay fee</a>{% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6 col-sm-5">
                                    Video submission paid
                                </label>
                                <div class="col-xs-6 col-sm-7">
                                    {% if entry.instance.video_entry_paid %}<span class="fa fa-check success"></span>
                                    {% elif entry.paypal_video_form %}Click Paypal button to make payment{% include 'payments/video_payment.html' %}
                                    {% else %}<span class="fa fa-times fail"></span>{% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6 col-sm-5">
                                    Selection entry paid
                                </label>
                                <div class="col-xs-6 col-sm-7">
                                    {% if entry.instance.status == 'selected' or entry.instance.status == 'selected_confirmed' %}
                                        {% if entry.instance.selected_entry_paid %}<span class="fa fa-check success"></span>
                                        {% elif entry.paypal_selected_form %}{% include 'payments/selected_payment.html' %}
                                        {% else %}<span class="fa fa-times fail"></span>{% endif %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label class="col-xs-6 col-sm-5">
                                    Selection data complete
                                </label>
                                <div class="col-xs-6 col-sm-7">
                                    {% if entry.instance.status == 'selected' or entry.instance.status == 'selected_confirmed' %}
                                        {% if entry.instance.song and entry.instance.biography %}<span class="fa fa-check success"></span>
                                        {% else %}<span class="fa fa-times fail"></span>{% endif %}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6 col-sm-7 col-xs-offset-6 col-sm-offset-5">
                                    {% if not entry.instance.withdrawn %}
                                        {% if entry.instance.status == 'selected' or entry.instance.status == 'selected_confirmed' %}
                                            <a class="btn table-btn btn-purple" href="{% url 'entries:edit_selected_entry' entry.instance.entry_ref %}">Edit details</a>
                                        {% else %}
                                            <a class="btn table-btn btn-purple" href="{% url 'entries:edit_entry' entry.instance.entry_ref %}">Edit details</a>
                                        {% endif %}
                                        {% if entry.can_delete %}
                                            <a class="btn table-btn btn-danger" href="{% url 'entries:delete_entry' entry.instance.entry_ref %}">Delete</a>
                                        {% else %}
                                            <a class="btn table-btn btn-warning {% if entry.instance.status == 'rejected' %}disabled{% endif %}" href="{% url 'entries:withdraw_entry' entry.instance.entry_ref %}">Withdraw</a>
                                        {% endif %}
                                    {% else %}
                                        <span class="helptext">Contact organizers if you wish to reopen this entry</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                {% if not forloop.last %}<div class="panel-divider"></div>{% endif %}
                {% endfor %}
                </div>
        {% else %}
            <p>You do not have any entries yet.</p>
        {% endif %}
        </div>
    {% else %}
    <p>Please <a href="{% url 'accounts:disclaimer_form' %}">complete a disclaimer</a> before beginning the entry process.</p>
    {% endif %}

</div>

{% endblock content %}
