{% extends "entries/entries_base.html" %}
{% load static %}
{% load entriestags %}

{% block content %}

<div class="extra-top-margin container-fluid row">
   <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Video submission fee for {{ entry.category|format_category }} category</h1>
        </div>
        <div class="panel-body">
            {% if paypalform %}
                <p>Thank you for your entry.  To complete your sumission, please click below to be transferred to paypal
                    to pay the video entry fee.
                    </br>
                <p>Entry Fee: £ {{ fee }}</p>
                {% include 'payments/payment.html' %}
                <strong>PLEASE CHECK YOUR PAYMENT METHOD AND ENSURE YOU HAVE
                        <span class="warning">NOT</span> SELECTED "PAY AFTER DELIVERY" AS THIS MAY
                        NOT REGISTER PAYMENT FOR YOUR ENTRY IN TIME.</strong>
            {% elif already_paid %}
                <p>The fee for this entry has already been paid.</p>
            {% elif in_progress %}
                <p>This entry is still in progress. Please submit it before paying the fee.</p>
            {% elif withdrawn %}
                <p>This entry has been withdrawn.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
