{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% load accounttags %}

{% block extra_styles %}<link href="{% static 'entries/css/custom.css' %}" rel="stylesheet">{% endblock %}

{% block nav_content %}
    <ul class="nav navbar-nav pull-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown">
            <div class="welcome-menu">Signed in as {{request.user|upper}}</div>
          <a href="#" class="account-menu dropdown-toggle active-nav-login" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'account_change_password' %}">Change password</a></li>
            <li><a href="{% url 'profile:profile' %}">Profile</a></li>
              {% if not request.user|has_disclaimer %}
                <li><a href="{% url 'disclaimer_form' %}">Disclaimer Form</a></li>
              {% endif %}
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% if request.user.is_staff %}
               <li class="active-nav"><a href="#">Admin</a></li>
            {% endif %}
          </ul>
        </li>
        {% else %}
        <div class="welcome-menu">Not signed in</div>
        <li class="active-nav-login account-menu"><a class="account-menu" href="{% url 'account_login' %}?next={{request.get_full_path}}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock nav_content %}

<!--MENU SECTION END-->
{% block messages %}
        {% if messages %}
          <div class="row">
            <div class="col-sm-12">
                {% for message in messages %}
                <div {% if message.tags and message.tags == 'error' %}
                            class="message alert alert-danger"
                     {% elif message.tags %}
                            class="message alert alert-{{ message.tags }}"
                     {% endif %}>
                    {% if 'safe' in message.tags %}
                        {{ message|safe }}
                    {% else %}
                        {{ message }}
                    {% endif %}</div>
                {% endfor %}
            </div>
          </div>
        {% endif %}
{% endblock messages %}

{% block footer_content %}<h6>Site developed by Becky Smith</h6>{% endblock %}